<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register new account</title>

    <link rel="stylesheet" href="css/styles.css">
    <style>
        h1{
            color:rgb(50, 247, 10);
            background-color:darkslategray;
            margin-left: 50px;
        }
        h5{
            color: rgb(50, 247, 10);
            background-color: darkslategray;
        }
    </style>

</head>
<body>

<h1>In development..</h1>

<form th:action=""></form>

</body>
</html>