<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register new account</title>

    <link rel="stylesheet" href="css/styles.css">
    <style>
        h1{
            color:rgb(50, 247, 10);
            background-color:darkslategray;
            margin-left: 50px;
        }
        h5{
            color: rgb(50, 247, 10);
            background-color: darkslategray;
        }
    </style>

</head>
<body>
<h1>Register new account</h1>
    <form name="signup" th:action="@{/save-user}" th:object="${user}" method="POST">
        <h5>Enter username:</h5>
        <input type="text" placeholder="username" th:field="*{username}">

        <h5>Enter password:</h5>
        <input type="text" placeholder="**password**" th:field="*{password}">

        <h5>confirm password:</h5>
        <input type="text" placeholder="**confirm password**" th:field="*{password}">


        <button type="submit" name="signupbtn">Register</button>

    </form>

<!-- <input class="form-control" type="text ....
        <div class="form-group" ...

-->


<form th:action=""></form>

</body>
</html>